<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="softwaretestingmaterial">
    <listeners>
        <listener class-name="com.automation.remarks.testng.UniversalVideoListener"/>
    </listeners>
    <test name="testngTest">
        <classes>
            <class name="FirstTest" />
        </classes>
    </test>
</suite>